.startSection {z-index: 2;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.background {
  video {
    z-index: -1;
    position: absolute;
    inset: 0;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
  }
}

.content {
  min-height: 100vh;
  flex-direction: column;
  gap: 24px;
  text-shadow: 0 3px 17px #34DB2157;
  img {
    width: 240px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 14px;
  }
  @media (min-width: 380px) {
    h1 {
      font-size: 36px;
      }
    h2 {
      font-size: 16px;
      }
  }
  @media (min-width: 576px) {
    h1 {
      font-size: 48px;
      }
    h2 {
      font-size: 20px;
      }
  }
  @media (min-width: 768px) {
    h1 {
      font-size: 60px;
      }
    h2 {
      font-size: 26px;
      }
  }
}

.greenLine {
  display: none;
  top: 72px;
  right: 0;
  width: 512px;
  transform: rotate(180deg);
  @media (min-width: 768px) {
    display: block;
  }
}