.nftSection {
  padding: 64px 0;
  h4 {
    margin-bottom: 72px;
  }
  p:first-child {
    margin-top: 40px;
  }
  @media (min-width: 992px) {
    p:first-child {
      margin-top: 0;
    }
  }
}

.listItem {
  margin-bottom: 24px;
  gap: 16px;
  svg {
    width: 60px;
    height: 60px;
  }
  span {
    font-size: 24px;
    text-transform: uppercase;
  }
  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}