.partnerSection {
  position: relative;
  padding-top: 120px;
  text-align: center;
}

.topDivider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.logos {
  margin-top: 80px;
}

.singleLogo {
  max-width: 200px;
}