.storySection {
  z-index: 10;
  position: relative;
  h3, h4 {
    text-align: center;
  }
  h4 {
    margin-bottom: 72px;
    span {
      display: block;
      font-weight: 400;
      color: #FFF;
      margin-bottom: 16px;
    }
  }
}

.greenLine {
  display: none;
  bottom: 20px;
  right: 0;
  width: 512px;
  transform: rotate(180deg);
  @media (min-width: 768px) {
    display: block;
  }
}

.planetLeft {
  display: none;
  z-index: -1;
  position: absolute;
  top: 50px;
  width: 1300px;
  @media (min-width: 576px) {
    display: block;
    left: -850px;
  }
  @media (min-width: 1200px) {
    left: -650px;
  }
}

.planetRight {
  z-index: -1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -580px;
  width: 850px;
  @media (min-width: 768px) {
    right: -500px;
  }
}