.earnSection {
  position: relative;
  padding: 96px 0;
  h4 {
    margin-bottom: 24px;
  }
}

.cards {
  gap: 16px;
  flex-direction: column;
  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.topDivider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  @media (min-width: 992px) {
    top: -80px;
  }
}