.singleAbility {
  margin-bottom: 40px;
  h5 {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 8px;
  }
  >div {
    height: 6px;
    background: #FFFFFF1A;
    span {
      height: 100%;
    }
  }
}