.button {
  position: relative;
  min-width: 140px;
  height: 40px;
  font-family: "Orbitron", serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFF;
  background: none;
  border: 1px solid #FFF;
  padding: 0 8px;
  cursor: pointer;
  transition: ease-in-out 300ms;
  &:hover:not(:disabled) {
    background: #FFFFFFB3;
    .squares {
      inset: -8px;
      div {
        transform: rotate(45deg) scale(2);
        &:nth-child(1) {
          top: -2px;
          left: -2px;
        }
        &:nth-child(2) {
          top: -2px;
          right: -2px;
        }
        &:nth-child(3) {
          bottom: -2px;
          right: -2px;
        }
        &:nth-child(4) {
          bottom: -2px;
          left: -2px;
        }
      }
    }
  }
  &:disabled {
    opacity: 0.5;
  }
  @media (min-width: 768px) {
    min-width: 190px;
  }
}

.squares {
  pointer-events: none;
  position: absolute;
  border: 1px solid #FFF;
  inset: -1px;
  transition: ease-in-out 300ms;
  div {
    position: absolute;
    width: 4px;
    height: 4px;
    background: #FFF;
    transition: ease-in-out 300ms;
    &:nth-child(1) {
      top: -4px;
      left: -4px;
    }
    &:nth-child(2) {
      top: -4px;
      right: -4px;
    }
    &:nth-child(3) {
      bottom: -4px;
      right: -4px;
    }
    &:nth-child(4) {
      bottom: -4px;
      left: -4px;
    }
  }
}