.channelsSection {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  h3 {
    margin-bottom: 120px;
  }
}

.channels {
  flex-direction: column;
  align-items: center;
  gap: 56px;
  @media (min-width: 992px) {
    flex-direction: row;
    align-items: start;
    gap: 0
  }
}

.channelBox {
  padding-top: 24px;
  padding-bottom: 24px;
  &:not(:last-child) {
    border: none;
    @media (min-width: 1200px) {
      border-right: 1px solid #FFFFFF59;
    }
  }
  h5 {
    font-family: "Orbitron", serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 56px;
  }
}

.socialsRow {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  svg {
    margin-bottom: 32px;
  }
  @media (min-width: 992px) {
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
  }
}

.telegram {
  @media (min-width: 992px) {
    padding-left: 32px;
    border-left: 1px solid #FFFFFF59;
  }
}

.buttons {
  flex-direction: column;
  gap: 24px;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

/*
.submit {
  gap: 32px;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.inputWrapper {
  position: relative;
  small {
    position: absolute;
    bottom: -24px;
    left: 4px;
    color: #FF113A;
  }
}

.inputText {
  width: 280px;
  height: 40px;
  background: #22252E8C;
  border: none;
  text-transform: uppercase;
  font-family: "Orbitron", serif;
  font-size: 16px;
  font-weight: 500;
  color: #FFF;
  &::placeholder {
    color: #FFF;
  }
  text-align: center;
  &:focus {
    outline: 0;
  }
  @media (min-width: 576px) {
    width: 360px;
  }
  @media (min-width: 1200px) {
    width: 100%;
  }
}
*/

.topDivider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: scale(-1, 1);
}