.tokenSection {
  z-index: 9;
  position: relative;
  text-align: center;
  h4 {
    margin-bottom: 48px;
  }
}

.topSection {
  padding-top: 135px;
  position: relative;
}

.bottomSection {
  padding-bottom: 32px;
}

.largeMargin {
  margin-top: 250px;
  @media (min-width: 576px) {
    margin-top: 320px;
  }
  @media (min-width: 768px) {
    margin-top: 440px;
  }
  @media (min-width: 1200px) {
    margin-top: 580px;
  }
}

.background {
  z-index: -1;
  position: absolute;
  inset: 0;
  width:100%;
  height:100%;
  video {
    z-index: -1;
    position: absolute;
    inset: 0;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
  }
}

/*.videoContainer {
  z-index: -1;
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
}*/

/*.videoContainer {
  width: 100%;
  height: 100%;
  pointer-events: none;
  iframe {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100%;
    transform: translate(-50%, -50%);
  }
  @media (min-aspect-ratio: 16/9) {
    iframe {
      height: 56.25vw;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    iframe {
      width: 177.78vh;
    }
  }
}*/

.greenLine {
  top: 0;
  left: 0;
  width: 100%;
  @media (min-width: 768px) {
    top: 56px;
    width: 60%;
  }
}