.sidebar {
  z-index: 9500;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 40px;
  nav {
    width: 0;
    overflow: visible;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 32px 0;
  }
  @media (min-width: 1200px) {
    display: block;
  }
}

.activeLink {
  max-width: 160px;
  height: 32px;
  gap: 16px;
  width: max-content;
  color: #FFF;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  svg {
    fill: transparent;
    stroke: #FFF;
    width: 16px;
    transition: ease-in-out 200ms;
    transform: rotate(90deg) scale(1.5);
    stroke-width: 4px;
  }
  span {
    display: block;
    transition: ease-in-out 200ms;
  }
}

.link {
  max-width: 160px;
  height: 32px;
  gap: 16px;
  width: max-content;
  color: #FFF;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  svg {
    fill: transparent;
    stroke: #FFF;
    stroke-width: 1px;
    width: 16px;
    transform: rotate(90deg);
    transition: ease-in-out 200ms;
  }
  span {
    display: none;
    transition: ease-in-out 200ms;
  }
  &:hover {
    svg {
      transform: rotate(90deg) scale(1.5);
      stroke-width: 4px;
    }
    span {
      display: block;
    }
  }
}

.line {
  height: calc(100% - 564px);
  width: 1px;
  margin-left: 8px;
  background-color: #FFFFFF59;
}

.lineTop {
  height: calc(100% - 631px);
}

.lineBottom {
  height: 130px
}