.biomesSection {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 170px;
  h4 {
    margin-bottom: 48px;
  }
}

.buttons {
  flex-direction: column;
  gap: 16px;
}

.smallCard {
  position: relative;
  width: 100px;
  cursor: pointer;
  img {
    width: 100%;
  }
  svg {
    width: 60px;
    height: 60px;
    transition: ease-in-out 200ms;
  }
  h5 {
    font-family: "Orbitron", serif;
    font-size: 10px;
    text-align: center;
    transition: ease-in-out 200ms;
  }
  @media (min-width: 576px) {
    width: 120px;
    svg {
      width: 80px;
      height: 80px;
    }
    h5 {
      font-size: 12px;
    }
  }
  @media (min-width: 992px) {
    width: 150px;
    svg {
      width: 100px;
      height: 100px;
    }
  }
}

.activeSmallCard {
  svg path, circle {
    stroke: #3BF9F3;
    font-size: 16px;
    transition: ease-in-out 200ms;
  }
  h5 {
    font-size: 12px;
    color: #3BF9F3;
    transition: ease-in-out 200ms;
  }
  @media (min-width: 576px) {
    h5 {
      font-size: 16px;
    }
  }
}

.mechImage {
  position: absolute !important;
  height: 100%;
  transition: ease-in-out 500ms !important;
  transform: translateX(100vw) !important;
  overflow: visible !important;
  img {
    width: auto;
  }
}

.selectedMech {
  transition: ease-in-out 500ms;
  transform: translateX(0) !important;
}

.statsCard {
  position: relative;
  img {
    width: 100%;
  }
  p {
    position: absolute;
    top: 310px;
    left: 8px;
    right: 8px;
    font-size: 18px;
  }
}

.topStats {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  text-align: center;
  h5 {
    font-family: "Orbitron", serif;
    font-size: 32px;
  }
}

.points {
  margin-top: 24px;
  display: flex;
  gap: 8px;
  svg {
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    opacity: 0.2;
    transition: ease-in-out 200ms;
  }
}

.selectedHex {
  opacity: 0.5 !important;
  transition: ease-in-out 200ms;
}

.line {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  width: 82px !important;
}