/** general import **/
@import "bootstrap-grid.min.scss";
@import "reset.scss";

/**
Here we can write css for our layout component
**/

html, body {
    font-family: "Rajdhani", serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #23332E;
    color: #FFF;
}

a {
    line-height: 100%;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: "Orbitron", serif;
    margin: 0;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}

h3 {
    font-size: 32px;
    margin-bottom: 16px;
    @media (min-width: 768px) {
        font-size: 40px;
    }
}

h4 {
    font-size: 18px;
    color: #34DB21;
    @media (min-width: 768px) {
        font-size: 26px;
    }
}

h5 {
    font-family: "Rajdhani", serif;
}

ul {
    margin: 0;
}

p{
    font-size: 22px;
    line-height: 1.5;
    margin: 0 0 24px 0;
    span {
        color: #34DB21;
    }
    svg{
        path{
            fill: darkolivegreen;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}

tspan, input, textarea {
    font-family: "Rajdhani", serif;
}

html {
    font: 112.5%/1.45em "Rajdhani", serif;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.position-relative {
    position: relative;
}

.flexbox-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexbox-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-gradient-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: transparent linear-gradient(180deg, #23332E 0%, #23332E00 100%) 0 0 no-repeat padding-box;
    height: 200px;
}
.bg-gradient-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent linear-gradient(0deg, #23332E 0%, #23332E00 100%) 0 0 no-repeat padding-box;
    height: 200px;
}

.bg-green-line {
    z-index: 9000;
    height: 4px;
    background: transparent linear-gradient(90deg, #185226 0%, #15632700 100%) 0 0 no-repeat padding-box;
    position: absolute;
}

.whiteDivider {
    z-index: 9000;
    position: absolute;
    height: 1px;
    background-color: #FFFFFF59;
}

.section-small-padding {
    padding: 56px 0;
}
.section-big-padding {
    padding: 120px 0;
}

.absolute-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}