/** general import **/
@import "bootstrap-grid.min.scss";
@import "reset.scss";

/**
Here we can write css for our layout component
**/

html, body {
    background-color: #185226;
    font-family: "Rajdhani", serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a {
    line-height: 1;
    text-decoration: none;
}

h1, h2 {
  font-family: "Orbitron", serif;
    margin: 0;
}

p{
    svg{
        path{
            fill: darkolivegreen;
        }
    }
}


tspan, input, textarea {
    font-family: "Rajdhani", serif;
}

html {
    font: 112.5%/1.45em "Rajdhani", serif;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.position-relative {
    position: relative;
}

.flexbox-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
